<?xml version="1.0"?>
<config>
    <modules>
        <MageProfis_ThemenWelten>
            <version>1.0.0.0</version>
        </MageProfis_ThemenWelten>
    </modules>
    <global>
        <helpers>
            <themenwelten>
                <class>MageProfis_ThemenWelten_Helper</class>
            </themenwelten>
        </helpers>
        <blocks>
            <themenwelten>
                <class>MageProfis_ThemenWelten_Block</class>
            </themenwelten>
        </blocks>
        <models>
            <themenwelten>
                <class>MageProfis_ThemenWelten_Model</class>
            </themenwelten>
        </models>
    </global>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <themenwelten>
                                            <title>ThemenWelten</title>
                                        </themenwelten>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <translate>
            <modules>
                <MageProfis_ThemenWelten>
                    <files>
                        <default>MageProfis_ThemenWelten.csv</default>
                    </files>
                </MageProfis_ThemenWelten>
            </modules>
        </translate>
    </adminhtml>
    <frontend>
        <layout>
            <updates>
                <themenwelten>
                    <file>mageprofis-themenwelten.xml</file>
                </themenwelten>
            </updates>
        </layout>
    </frontend>
</config>
